<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @order.images.each do |im| %>
  <div class="field">
    <%= image_tag "#{im.path}" %>
  </div>
  <% end -%>

  <div class="field">
    <%= f.label :receiver_name, "收件人" %>
    <%= f.text_field :receiver_name %>
  </div>
  <div class="field">
    <%= f.label :receiver_address, "收件地址" %>
    <%= f.text_field :receiver_address %>
  </div>
  <!--<div class="field">
    <%= f.label :receiver_code, "邮编" %>
    <%= f.text_field :receiver_code %>
  </div> -->
  <div class="field">
    <%= f.label :receiver_contact, "希望寄到的时间（精确到年月）" %>
    <%= f.text_field :receiver_contact %>
  </div>
  <div class="actions">
    <%= f.submit "更新订单", {"data-icon" => "flat-new", "data-theme" => "b"} %>
  </div>
<% end %>
